<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/CSS/agenda.css">
    <link rel="icon" href="" type="image/x-icon">
</head>

<body>

<form action="/agenda/api/newProject" method="post">
    <div>
        <label for="projectName">Projectnaam:</label>
        <input type="text" id="projectName" name="projectName" required >
    </div>
    <div>
        <label for="companyName">Bedrijfsnaam:</label>
        <select id="companyName" name="companyName">
            <% companies.forEach(function(company) { %>
                <option value="<%= company %>"><%= company %></option>
            <% }); %>
        </select>
    </div>
    <button type="submit">Project aanmaken</button>
</form>

<div class="overview">
    <div class="overview-container">
        <div class="notifications">
            <ul>
                <li>
                    <a>melding a</a>
                </li>
                <li>
                    <a>melding b</a>
                </li>
                <li>
                    <a>melding c</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="overview-container">
        <div class="assigned-projects">
            <ul>
                <li>
                    <a>project a</a>
                </li>
                <li>
                    <a>project b</a>
                </li>
                <li>
                    <a>project c</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="overview-container">
        <div class="upload-text" id="message">Sleep hier je bestanden in of klik!</div>
        <div class="upload-csv"></div>
        <div id="dropArea" ondragover="handleDragOver(event)"
             ondrop="handleDrop(event)" ondragenter="handleDragEnter(event)"
             ondragleave="handleDragLeave(event)" onclick="selectFile()">
            <a class="upload-text">Upload CSV</a>
        </div>
    </div>
</div>

<div class="break">
    <a class="api-text" href="https://app-eu1.hubspot.com/oauth/authorize?client_id=ee514772-3efe-4518-ad4f-ae1a13610dd7&redirect_uri=http://
    localhost:3000/code&scope=crm.schemas.deals.read%20crm.schemas.deals.write%20crm.schemas.contacts.read">Ga naar API (tijdelijk)</a>
</div>


<div class="container">
    <div>
        <div class="search">
            <div class="search-field">
                <i class="magnifying-glass"></i>
                <input class="search-text">
            </div>
            <button class="search-btn"> Zoeken</button>
        </div>
    </div>
    <div class="grid">
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
    </div>

    <script>
        function handleDragOver(event) {
            event.preventDefault();
        }

        function handleDragEnter(event) {
            event.preventDefault();
            document.getElementById('dropArea').classList.add('invalid');
        }

        function handleDragLeave(event) {
            event.preventDefault();
            document.getElementById('dropArea').classList.remove('invalid');
        }

        function handleDrop(event) {
            event.preventDefault();
            const file = event.dataTransfer.files[0];
            handleFile(file);
            document.getElementById('dropArea').classList.remove('invalid');
        }

        function selectFile() {
            const fileInput = document.createElement('input');
            fileInput.type = 'file';
            fileInput.accept = '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel';
            fileInput.addEventListener('change', (event) => {
                const file = event.target.files[0];
                handleFile(file);
            });
            fileInput.click();
        }

        function handleFile(file) {
            const formData = new FormData();
            formData.append('file', file);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Bestand format niet herkend.');
                    }
                })
                .then(message => {
                    console.log(message);
                    console.log('Bestandnaam:', file.name);
                    document.getElementById('message').textContent = `Bestand "${file.name}" succesvol geüpload!`;
                    document.getElementById('message').classList.remove('error');
                })
                .catch(error => {
                    console.error(error);
                    document.getElementById('message').textContent = error.message;
                    document.getElementById('message').classList.add('error');
                });
        }

        const searchParams = new URLSearchParams(window.location.search);
        console.log(searchParams);
        document.getElementById("myText").innerHTML = searchParams;
    </script>
</div>
</body>