<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link rel="icon" href="" type="image/x-icon">
</head>

<body>
<div class="top-bar">
    <ul class="navbar-primary">
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/" class="navbar-items"> Home </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/projecten" class="navbar-items"> Projecten </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/agenda" class="navbar-items"> Agenda </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/admin" class="navbar-items"> Meldingen </a>
        </li>
        <% if (isAdmin) { %>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/admin" class="navbar-items"> Admin </a>
        </li>
        <% } %>
    </ul>
</div>

<h1>Connect hier (tijdelijk)</h1>
<a href="https://app-eu1.hubspot.com/oauth/authorize?client_id=ee514772-3efe-4518-ad4f-ae1a13610dd7&redirect_uri=http://
localhost:3000/code&scope=crm.schemas.deals.read%20crm.schemas.deals.write%20crm.schemas.contacts.read">Ga naar API</a>

<div class="overview">
    <div>
        <div class="notifications">
            <ul>
                <li>
                    <a>melding a</a>
                </li>
                <li>
                    <a>melding b</a>
                </li>
                <li>
                    <a>melding c</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="assigned-projects">
            <ul>
                <li>
                    <a>project a</a>
                </li>
                <li>
                    <a>project b</a>
                </li>
                <li>
                    <a>project c</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="upload-csv">
            <div>Upload Hier!</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="search">
        <div class="search-field">
            <i class="magnifying-glass"></i>
            <input class="search-text">
        </div>
        <button class="search-btn"> Zoeken</button>
    </div>
    <div class="grid">
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
    </div>

    <script>
        const searchParams = new URLSearchParams(window.location.search);
        console.log(searchParams);
        document.getElementById("myText").innerHTML = searchParams;
    </script>
</div>
</body>