<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link rel="icon" href="" type="image/x-icon">
</head>

<body>
<div class="top-bar">
    <ul class="navbar-primary">
        <li>
            <svg class="icon-home"></svg>
            <a class="navbar-items"> </a>
        </li>
        <li>
            <svg class="icon-my-projects"></svg>
            <a class="navbar-items"> </a>
        </li>
        <li>
            <svg class="icon-agenda"></svg>
            <a class="navbar-items"> </a>
        </li>
        <li>
            <svg class="icon-alerts"></svg>
            <a class="navbar-items"> </a>
        </li>
    </ul>
</div>

<div class="overview">
    <div>
        <div class="notifications">
            <ul>
                <li>
                    <a></a>
                </li>
                <li>
                    <a></a>
                </li>
                <li>
                    <a></a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="assigned-projects">
            <ul>
                <li>
                    <a></a>
                </li>
                <li>
                    <a></a>
                </li>
                <li>
                    <a></a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="upload-csv">
            <div></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="search">
        <div class="search-field">
            <i class="magnifying-glass"></i>
            <input class="search-text">
        </div>
        <button class="search-btn"></button>
    </div>
    <div class="grid">
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
        <div class="column-name">
            <div class="column-item">1</div>
            <div class="column-item">2</div>
            <div class="column-item">3</div>
        </div>
    </div>
</div>
</body>