:root {
    --primary: #FB6D48;
    --secondary: #FFA559;
    --tertiary: #FFE6C7;
    --fourth: #D74B76;
    --border: #D4D3E8;
}

body {
    padding: 16px
}

/**************************************************/
/***************** Navigation Bar******************/
/**************************************************/

.navbar-primary {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.icon {
    max-height: 10px;
    max-width: 10px;
}

/**************************************************/
/*** Notifications, Projects and Uploading*********/
/**************************************************/

.overview {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.upload-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container{
    border: 2px dashed var(--fourth);
    width: 30%;
    padding: 16px;
    margin: 16px 0px;
}

#dropArea {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px dashed #ccc;
    line-height: 150px;
    margin: 16px auto;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
}


/**************************************************/
/************** Search Bar & Grid *****************/
/**************************************************/

