:root {
    --primary: #fb6d48 !important;
    --secondary: #ffa559 !important;
    --tertiary: #ffe6c7 !important;
    --fourth: #d74b76 !important;
    --border: #d4d3e8 !important;
    --top: rgb(51, 71, 91) !important;
}


body {
    margin: 0;
    font-family: system-ui;
    background-color: var(--top) !important;
}

label {
    color: var(--top);
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: 0 !important;
}

p {
    color: var(--top);
}

li {
    color: white;
    display: flex;
}

.text-white {
    color: white;
}

.text-dark {
    color: var(--top);
}

/**************************************************/
/***************** Navigation Bar******************/
/**************************************************/

.navbar-primary {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--top);
    padding: 16px;
    margin: 0;
}

.navbar-items {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    padding-left: 5px;
}

.icon {
    max-height: 16px;
    max-width: 16px;
}


.overview {
    display: flex;
    justify-content: center;
    padding: 36px;
    background-color: var(--secondary);
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    max-height: fit-content;
    overflow: hidden;
    padding: 16px;
    box-shadow: 10px 10px var(--primary);
    margin: 16px;
    border-radius: 10px;
    background-color: white;
}

.modal-items {
    margin: 0 32px 0 0;
    box-shadow: 2px 2px;
    margin-bottom: 1rem;
}

.aaa {
    display: flex;
    flex-direction: column;
}

.upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    color: var(--top);
    text-decoration: underline;
}


.add-project {
    display: flex;
    justify-content: center;
    padding: 16px;
}

button {
    font-family: monospace;
    background-color: #f3f7fe;
    width: 150px;
    height: 35px;
    transition: .3s;
    border-radius: 16px !important;
    border: 2px solid #fb6d48;
    color: var(--primary);
}

button:hover {
    background-color: var(--primary);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}