:root {
    --primary2: #fb6d48;
    --secondary2: #ffa559;
    --tertiary: #ffe6c7;
    --fourth: #d74b76;
    --border: #d4d3e8;
    --top: rgb(51, 71, 91);
}

body {
    margin: 0px;
    font-family: system-ui;
    background-color: var(--top) !important;
}

label {
    color: white;
}

p {
    color: var(--top);
}

li {
    color: white;
    display: flex;
}

/**************************************************/
/***************** Navigation Bar******************/
/**************************************************/

.navbar-primary {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: var(--top);
    padding: 16px;
    margin: 0px;
}

.navbar-items {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    font-weight: bold;
    padding-left: 5px;
}

.icon {
    max-height: 16px;
    max-width: 16px;
}

/**************************************************/
/*** Notifications, Projects and Uploading*********/
/**************************************************/

.overview {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    padding: 36px;
    background-color: var(--secondary2);
}

.search {
    display: flex;
    align-items: center;
}

button {
    font-family: monospace;
    background-color: #f3f7fe;
    width: 150px;
    height: 45px;
    transition: .3s;
    border-radius: 16px !important;
    border: 2px solid #fb6d48;
    color: var(--primary2);
}

.search-field {
    padding: 0px 16px;
}

button {
    font-family: monospace;
    background-color: #f3f7fe;
    width: 150px;
    height: 35px;
    transition: .3s;
    border-radius: 16px !important;
    border: 2px solid #fb6d48;
    color: var(--primary2);
}


button:hover {
    background-color: var(--primary2);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.grid {
    display: flex;
    justify-content: center;
}

.upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    background-color: var(--primary2);
}

.break {
    background-color: var(--top);
    padding: 16px;
}

.api-text {
    color: white;
}

#dropArea {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px dashed var(--top);
    line-height: 150px;
    margin: 16px auto;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
    color: white;
}

/**************************************************/
/************** Search Bar & Grid *****************/
/**************************************************/

.overview {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
}

.grid {
    display: flex;
    justify-content: center;
}

.upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

#dropArea {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px dashed var(--top);
    line-height: 150px;
    margin: 16px auto;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
}

/**************************************************/
/************** Search Bar & Grid *****************/
/**************************************************/

.projects {
    width: 100%;
    min-width: 20%;
    padding: 8px;
    border: 2px solid var(--top);
    border-radius: 16px;
    margin: 4px;
}

.project-container {
    padding: 36px;
    background-color: var(--secondary2);
}

.column-item {
    border: 2px solid #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
    height: 114px;
    background-color: var(--primary2);
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.card-title {
    color: white;
    font-weight: bold;
}

.card-bottom {
    color: white;
}



/**************************************************/
/************** Modal Time! *****************/
/**************************************************/


.modal-content {
    background-color: black !important;
    border-radius: 16px !important;
}