:root {
    --primary: #fb6d48;
    --secondary: #ffa559;
    --tertiary: #ffe6c7;
    --fourth: #d74b76;
    --border: #d4d3e8;
    --top: rgb(51, 71, 91);
}

body {
    margin: 0px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: system-ui;
}

/**************************************************/
/***************** Navigation Bar******************/
/**************************************************/

.navbar-primary {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #333;
    padding: 16px;
    margin: 0px;
}

.navbar-items {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    font-weight: bold;
}

.icon {
    max-height: 16px;
    max-width: 16px;
}

/**************************************************/
/*** Notifications, Projects and Uploading*********/
/**************************************************/

.overview {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search {
    display: flex;
}

button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    background-color: white;
}

.break {
    background-color: #333333d1;
    padding: 16px;
}

.api-text {
    color: white;
}

#dropArea {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px dashed var(--top);
    line-height: 150px;
    margin: 16px auto;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
    /*color: lightgreen;*/
}

/**************************************************/
/************** Search Bar & Grid *****************/
/**************************************************/

.overview {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiary);
}

.search {
    display: flex;
}
.search-btn {
}
.search-btn {
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #f082ac;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.upload-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    background-color: var(--border);
}

#dropArea {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    border: 2px dashed var(--top);
    line-height: 150px;
    margin: 16px auto;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
}

/**************************************************/
/************** Search Bar & Grid *****************/
/**************************************************/

.projects {
    width: 100%;
    min-width: 20%;
    padding: 8px;
}

.project-container {
    padding: 10px;
}

.column-item {
    border: 2px solid #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
    height: 114px;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
}
