:root {
    --primary: #fb6d48 !important;
    --secondary: #ffa559 !important;
    --tertiary: #ffe6c7 !important;
    --fourth: #d74b76 !important;
    --border: #d4d3e8 !important;
    --top: rgb(51, 71, 91) !important;
}

body {
    margin: 0;
    font-family: system-ui;
    background-color: var(--top) !important;
}

label {
    color: white;
    font-weight: bold;
}

p {
    color: var(--top);
}

li {
    color: white;
    display: flex;
}

.assigned-projects li {
    color: var(--top);
}


/**************************************************/
/***************** Text properties ****************/
/**************************************************/

.text-white {
    color: white;
}

.text-dark {
    color: var(--top);
}

/**************************************************/
/***************** Navigation Bar******************/
/**************************************************/

.navbar-primary {
    list-style: none;
    background-color: var(--top);
    padding: 16px;
    margin: 0;
}

.navbar-items {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    padding-left: 5px;
    cursor: pointer;
}

.icon {
    max-height: 16px;
    max-width: 16px;
}

.hidden {
    display: none;
}

/**************************************************/
/*** Notifications, Projects and Uploading ********/
/**************************************************/

.overview {
    padding: 36px;
    background-color: var(--secondary);
}

.overview-container {
    border: 2px solid var(--top);
    width: 30%;
    max-height: 360px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 10px 10px var(--primary);
    margin: 16px;
    border-radius: 10px;
    background-color: white;
    overflow-y: auto;
}

.upload-text {
    color: var(--top);
    text-decoration: underline;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications li {
    color: var(--top);
    overflow-y: auto;
}

/**************************************************/
/********************* Scrollbar ******************/
/**************************************************/

.overview-container::-webkit-scrollbar {
    width: 10px;
}

.overview-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overview-container::-webkit-scrollbar-thumb {
    background: #888;
}

.overview-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.projects::-webkit-scrollbar {
    width: 10px;
    border-radius: 16px;
}

.projects::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
    margin: 10px;
}

.projects::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;
}

.projects::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 16px;
}

/**************************************************/
/******************** Break Bar *******************/
/**************************************************/

.break {
    background-color: var(--top);
    padding: 16px;
}

.search {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.search-field {
    padding: 0 8px 0 16px;
}

.project-searchbar {
    padding: 3px;
}

.project-container-top {
    display: flex;
    justify-content: space-around;
    padding-top: 36px;
    border-width:0 0 2px;
    border-style: solid;
    border-color:white;
}

/**************************************************/
/********************** Buttons *******************/
/**************************************************/

.add-project-btn {
    background-color: #f3f7fe;
    cursor: pointer;
    width: 200px;
    height: 45px;
    border-radius: 16px !important;
    border: 2px solid var(--top);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-project-btn:hover {
    transition: .3s;
    background-color: var(--primary);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

.reset-btn {
    width: 35px;
    border: 2px solid var(--top);
    color: var(--top);
}


.add-project-input {
    border: 0 solid gray;
    border-bottom-width: 1px;
    flex: 1;
    margin: 10px 30px 10px 0;
    background-color: white;
}

.add-project-form {
    display: flex;
    flex-direction: column;
}

.add-project {
    display: flex;
    justify-content: center;
}


button {
    font-family: monospace;
    background-color: #f3f7fe;
    width: 150px;
    height: 35px;
    transition: .3s;
    border-radius: 16px !important;
    border: 2px solid #fb6d48;
    color: var(--primary);
}

button:hover {
    background-color: var(--primary);
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
    color: white;
}

/**************************************************/
/******************* Project Grid *****************/
/**************************************************/

.project-container {
    padding: 36px;
    background-color: var(--secondary);
}

.grid {
    display: flex;
    justify-content: center;
}

.projects {
    width: 100%;
    min-width: 20%;
    min-height: 300px;
    max-height: 1000px;
    overflow-y: auto;
    padding: 8px;
    border: 2px solid var(--top);
    border-radius: 16px;
    margin: 4px;
}

.column-item {
    border: 2px solid #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
    height: 124px;
    cursor: grab;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.card-title {
    color: white;
    font-weight: bold;
}

.card-bottom {
    color: white;
    margin-bottom: 0;
}

/**************************************************/
/****************** Modal Items *******************/
/**************************************************/

.modal-content {
    border-radius: 16px !important;
}

.modal-header {
    border-bottom: 1px solid var(--top) !important;
    align-items: center !important;
}

.modal-title {
    font-weight: 700 !important;
    font-size: xx-large;
}

.modal-items {
    margin-top: 0;
    border-radius: 8px;
    padding: 0 0 8px 16px;
    box-shadow: 2px 2px;
    margin-bottom: 1rem;
}

.modal-input {
    border: 0;
    background-color: white;
}

.button-close {
    color: var(--top);
    border: 2px solid var(--top);
    width: 35px;
}

.modal-upload {
    padding: 16px;
}

.modal-choose-file {
    display: flex;
    justify-content: center;
}

.modal-small-items {
    color: var(--top);
    padding-bottom: 10px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.button-basic {
    background-color: white;
    border: 2px solid white;
    width: 40px;
}

.input[type=file] {
    display: none;
}